/* USERS HERE */

/*Me*/
.contents_d3ae0d [src*='831017867587092570'] + .header__6a14d:after,
.wrapper__3ed10:has([src*='831017867587092570']):after,
  [style*='831017867587092570'] .imageUploaderFileInput__4d73a:after {
      background-image: var(--deco-omen); /*CHANGE HERE */
  }

/*Yurlver*/
.contents_d3ae0d [src*='586446075582480404'] + .header__6a14d:after,
.wrapper__3ed10:has([src*='586446075582480404']):after,
  [style*='831017867587092570'] .imageUploaderFileInput__4d73a:after {
      background-image: var(--deco-clown); /*CHANGE HERE */
  }

/*SRC CODE */
.contents_d3ae0d [src] + .header__6a14d {
    overflow: unset;
}
.contents_d3ae0d [src] + .header__6a14d:after {
    content: "";
    position: absolute;
    top: calc((.5 - var(--decoration-to-avatar-ratio)/2)*100%);
    left: -60px;
    width: 48px;
    height: 48px;
    background-size: contain;
    z-index: 1;
    pointer-events: none;
}
.font-size-15 .contents_d3ae0d [src] + .header__6a14d:after {
    left: 10px;
    width: 45px;
    height: 45px;
}
.font-size-14 .contents_d3ae0d [src] + .header__6a14d:after {
    left: 10px;
    width: 42px;
    height: 42px;
}
.font-size-12 .contents_d3ae0d [src] + .header__6a14d:after {
    left: 8px;
    width: 36px;
    height: 36px;
}
.contents_d3ae0d [src]:active + .header__6a14d:after {
    transform: translateY(1px);
}
.wrapper__3ed10:after,
.imageUploaderFileInput__4d73a:after {
    content: "";
    position: absolute;
    top: calc((.5 - var(--decoration-to-avatar-ratio)/2)*100%);
    left: calc((.5 - var(--decoration-to-avatar-ratio)/2)*100%);
    bottom: calc((.5 - var(--decoration-to-avatar-ratio)/2)*100%);
    right: calc((.5 - var(--decoration-to-avatar-ratio)/2)*100%);
    background-size: contain;
    z-index: 1;
    overflow: unset;
    contain: none;
}
.wrapper__3ed10:has(.avatarDecoration_cf681a):after,
.imageUploaderFileInput__4d73a:has(.avatarDecoration_cf681a):after {
    display: none;
}
.avatarHint-2g3Mcd {
    z-index: 1;
}
.panels__58331 .wrapper__3ed10:after {
    clip-path: path("M0 0h38v38H0ZM21.9678 29.887a7.9154 7.9154 90 1015.8346 0 7.9154 7.9154 90 10-15.8346 0");
}
.layout__59abc .wrapper__3ed10:after,
.layout_bb8e67 .wrapper__3ed10:after {
    clip-path: path("M0 0h38v38H0ZM21.9678 29.887a7.9154 7.9154 90 1015.8346 0 7.9154 7.9154 90 10-15.8346 0");
}
.layout__59abc .wrapper__3ed10:has(.pointerEvents__585e6[width="10"]):after,
.layout_bb8e67 .wrapper__3ed10:has(.pointerEvents__585e6[width="10"]):after {
    clip-path: path("M0 0h38v38H0ZM21.9678 29.887a7.9154 7.9154 90 1015.8346 0 7.9154 7.9154 90 10-15.8346 0");
}
.layout__59abc .wrapper__3ed10:has(.pointerEvents__585e6[height="15"]):after,
.layout_bb8e67 .wrapper__3ed10:has(.pointerEvents__585e6[height="15"]):after {
    clip-path: path("M38 0h-38v38H38ZM26.9572 17.0202h5.8596s4.9894 0 4.9894 4.9894v10.8072s0 4.9894-4.9856 4.9894h-5.8596s-4.9856 0-4.9856-4.9856v-10.8072s0-4.9856 4.9894-4.9856");
}
.layout_bb8e67 .wrapper__3ed10:has(.dots_a97068):after {
    clip-path: path("M0 0V38H38V0ZM17.9208 21.9678H38V37.8024H17.9208S14.5464 37.8024 14.5464 34.428V25.3422S14.5464 21.9678 17.9208 21.9678Z") !important;
}
:is(.userPopoutOuter__3884e, .userInfo_fb7651) .wrapper__3ed10:after {
    clip-path: path("M0 0h96v96H0ZM61.9968 76.0032a13.9968 13.9968 90 1028.0032 0 13.9968 13.9968 90 10-28.0032 0");
}
:is(.userPopoutOuter__3884e, .userInfo_fb7651) .wrapper__3ed10:has(.pointerEvents__585e6[height="24"]):after {
    clip-path: path("M96 0h-96v96H96ZM70.6368 54h10.7232s8.64 0 8.64 8.64v18.72s0 8.64-8.64 8.64h-10.7232s-8.64 0-8.64-8.64v-18.72s0-8.64 8.64-8.64");
}

.userPopoutOuter__3884e:not(:has(.avatarDecoration_cf681a)) .avatarHint__15059 {
    overflow: unset;
    contain: unset;
}
.userPopoutOuter__3884e:not(:has(.avatarDecoration_cf681a)) .avatarHint__15059 foreignObject {
    mask: none;
}
.userPopoutOuter__3884e:not(:has(.avatarDecoration_cf681a)) .avatarHintInner_c8ddb1 {
    clip-path: path("M0 0h96v96H0ZM61.9968 76.0032a13.9968 13.9968 90 1028.0032 0 13.9968 13.9968 90 10-28.0032 0");
    inset: calc((.5 - var(--decoration-to-avatar-ratio)/2)*100%);
    padding: 0;
    width: unset;
    height: unset;
    position: absolute;
    border-radius: 38.4px;
}
.userPopoutOuter__3884e:not(:has(.avatarDecoration_cf681a)):has(.pointerEvents__585e6[height="24"]) .avatarHintInner_c8ddb1 {
    clip-path: path("M96 0h-96v96H96ZM70.6368 54h10.7232s8.64 0 8.64 8.64v18.72s0 8.64-8.64 8.64h-10.7232s-8.64 0-8.64-8.64v-18.72s0-8.64 8.64-8.64");
}


  html {

   
    /*Random Icons 2023*/
    --deco-a-radiate-purple: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869256221405214/Anime_Radiating_Energy_Purple.webp);
    --deco-a-radiate-yellow: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869266287722516/Anime_Radiating_Energy_Yellow.webp);
    --deco-a-radiate-blue: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869241381957662/Anime_Radiating_Energy_Blue.webp);
    --deco-a-lightningblast-yellow: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869340522709052/Anime_Super_Lightning_Blast_Yellow.webp);
    --deco-a-lightningblast-green: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869322600452198/Anime_Super_Lightning_Blast_Green.webp);
    --deco-a-lightningblast-red: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869330921951264/Anime_Super_Lightning_Blast_Red.webp);
    --deco-a-lightningblast-blue: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869312949370880/Anime_Super_Lightning_Blast_Blue.webp);
    --deco-a-soulleavingbody: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869286583971860/Anime_Soul_Leaving_Body.webp);
    --deco-a-sweatdrop: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869349234290768/Anime_Sweat_Drop.webp);
    --deco-a-starryeyed: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869304422346752/Anime_Starry_Eyed.webp);
    --deco-a-love: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869227024855071/Anime_In_Love.webp);
    --deco-a-shock: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869275523596448/Anime_Shock.webp);
    --deco-a-angry: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869208624443422/Anime_Angry.webp);
    --deco-a-speedy: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869296629321738/Anime_Speedy.webp);
    --deco-de-smile: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869516582826056/Digital_Expressions_Smile.webp);
    --deco-de-scream: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869507124674652/Digital_Expressions_Scream.webp);
    --deco-de-lick: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869496479522816/Digital_Expressions_Lick.webp);
    --deco-de-sweat: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869526787559515/Digital_Expressions_Sweat.webp);
    --deco-b-coffee-good: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869384336429106/Breakfast_Coffee_Good_Day.webp);
    --deco-b-coffee-bad: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869375612256286/Breakfast_Coffee_Bad_Day.webp);
    --deco-b-donutjellydrizzle: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869400526422106/Breakfast_Donut_Jelly_Drizzle.webp);
    --deco-b-donutsprinkle: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869410106220634/Breakfast_Donut_Sprinkle.webp);
    --deco-b-eggslide: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869416791945336/Breakfast_Egg_Slide.webp);
    --deco-b-pancakestack: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869444340129842/Breakfast_Pancake_Stack.webp);
    --deco-b-jam-blueberry: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869427726491699/Breakfast_Jam_Blueberry.webp);
    --deco-b-jam-orange: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869435452403802/Breakfast_Jam_Orange.webp);
    --deco-b-toast: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869469392711761/Breakfast_Toast.webp);
    --deco-b-toastburnt: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869459032789002/Breakfast_Toast_Burnt.webp);
    --deco-burp-green: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869478364332172/Burp_Green.webp);
    --deco-burp-orange: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869487491125268/Burp_Orange.webp);
    --deco-gum-blurple: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869569334575125/Gum_Blurple.webp);
    --deco-gum-green: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869579530948719/Gum_Green.webp);
    --deco-fart-purple: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869551814967306/Fart_Purple.webp);
    --deco-fart-green: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869534228267008/Fart_Green.webp);
    --deco-lizard-orange: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869606579998809/Lizard_Orange.webp);
    --deco-lizard-pink: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869616998658059/Lizard_Pink.webp);
    --deco-frog: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869560635600936/Frog.webp);
    --deco-tentacles: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869624451944570/Tentacles.webp);
    --deco-heart-blurple: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869589324628009/Heart_Blurple.webp);
    --deco-heart-red: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869597977481227/Heart_Red.webp);
    --deco-beam-red: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869367479521383/Beam_Red.webp);
    --deco-beam-blue: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869358562410686/Beam_Blue.webp);
    --deco-beam-red: url(https://cdn.discordapp.com/avatar-decoration-presets/a_e11ac0d3f2b1301173847b84a1a3268f.png);
    --deco-beam-blue: url(https://cdn.discordapp.com/attachments/1141869153125400656/1141869358562410686/Beam_Blue.webp);
    --deco-stop-sign: url(https://cdn.discordapp.com/attachments/1116824513263452274/1197308507641356409/image_43.png);
    --deco-green-flames: url(https://ugc.decor.fieryflames.dev/a_d9e85c4af02061b69d4a671513ce5586.png?animate=true);
    --deco-blue-flames: url(https://ugc.decor.fieryflames.dev/a_efc703ad887fcb2f3e543ab4b1963028.png?animate=true);
    --deco-red-flames: url(https://ugc.decor.fieryflames.dev/a_abd5203243ad0ab748b18125cb9aa16a.png?animate=true);
    --deco-omen: url(https://cdn.discordapp.com/avatar-decoration-presets/a_c45abe8c7585fdb41b8d8d4d666f1588.png);
    --deco-clown: url(https://cdn.discordapp.com/avatar-decoration-presets/a_5e1210779d99ece1c0b4f438a5bc6e72.png);
  }

/*Avatar Dynamic Shadow*/
.userPopoutOuter__3884e .clickable_f0c9cf .wrapper__3ed10,
.userPopoutOuter__3884e .imageUploader_e725b4 {
    filter: var(--profile-shadow);
}
.userPopoutOuter__3884e .bannerSVGWrapper__8a38c foreignObject {
    mask: none;
}
.userPopoutOuter__3884e {
    --profile-shadow: drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color)) drop-shadow(0 0 0.25px var(--profile-filter-color));
    --profile-filter-color: var(--background-secondary-alt);
}
.userPopoutOuter__3884e[style] {
    --profile-filter-color: var(--profile-avatar-border-color);
}
  
