/* USERS HERE */

/*Me*/
.contents_d3ae0d [src*='831017867587092570'] + .header__6a14d:after,
.wrapper__3ed10:has([src*='831017867587092570']):after,
  [style*='831017867587092570'] .imageUploaderFileInput__4d73a:after {
      background-image: var(--deco-omen); /*CHANGE HERE */
  }

/*Yurlver*/
.contents_d3ae0d [src*='586446075582480404'] + .header__6a14d:after,
.wrapper__3ed10:has([src*='586446075582480404']):after,
  [style*='831017867587092570'] .imageUploaderFileInput__4d73a:after {
      background-image: var(--deco-clown); /*CHANGE HERE */
  }

/*Cap*/
.contents_d3ae0d [src*='1119096956443181088'] + .header__6a14d:after,
.wrapper__3ed10:has([src*='1119096956443181088']):after,
  [style*='1119096956443181088'] .imageUploaderFileInput__4d73a:after {
      background-image: var(--deco-clown); /*CHANGE HERE */
  }

/*SRC CODE */
.contents_d3ae0d [src] + .header__6a14d {
    overflow: unset;
}
.contents_d3ae0d [src] + .header__6a14d:after {
    content: "";
    position: absolute;
    top: calc((.5 - var(--decoration-to-avatar-ratio)/2)*100%);
    left: -60px;
    width: 48px;
    height: 48px;
    background-size: contain;
    z-index: 1;
    pointer-events: none;
}
.font-size-15 .contents_d3ae0d [src] + .header__6a14d:after {
    left: 10px;
    width: 45px;
    height: 45px;
}
.font-size-14 .contents_d3ae0d [src] + .header__6a14d:after {
    left: 10px;
    width: 42px;
    height: 42px;
}
.font-size-12 .contents_d3ae0d [src] + .header__6a14d:after {
    left: 8px;
    width: 36px;
    height: 36px;
}
.contents_d3ae0d [src]:active + .header__6a14d:after {
    transform: translateY(1px);
}
.wrapper__3ed10:after,
.imageUploaderFileInput__4d73a:after {
    content: "";
    position: absolute;
    top: calc((.5 - var(--decoration-to-avatar-ratio)/2)*100%);
    left: calc((.5 - var(--decoration-to-avatar-ratio)/2)*100%);
    bottom: calc((.5 - var(--decoration-to-avatar-ratio)/2)*100%);
    right: calc((.5 - var(--decoration-to-avatar-ratio)/2)*100%);
    background-size: contain;
    z-index: 1;
    overflow: unset;
    contain: none;
}
.wrapper__3ed10:has(.avatarDecoration_cf681a):after,
.imageUploaderFileInput__4d73a:has(.avatarDecoration_cf681a):after {
    display: none;
}
.avatarHint-2g3Mcd {
    z-index: 1;
}
.panels__58331 .wrapper__3ed10:after {
    clip-path: path("M0 0h38v38H0ZM21.9678 29.887a7.9154 7.9154 90 1015.8346 0 7.9154 7.9154 90 10-15.8346 0");
}
.layout__59abc .wrapper__3ed10:after,
.layout_bb8e67 .wrapper__3ed10:after {
    clip-path: path("M0 0h38v38H0ZM21.9678 29.887a7.9154 7.9154 90 1015.8346 0 7.9154 7.9154 90 10-15.8346 0");
}
.layout__59abc .wrapper__3ed10:has(.pointerEvents__585e6[width="10"]):after,
.layout_bb8e67 .wrapper__3ed10:has(.pointerEvents__585e6[width="10"]):after {
    clip-path: path("M0 0h38v38H0ZM21.9678 29.887a7.9154 7.9154 90 1015.8346 0 7.9154 7.9154 90 10-15.8346 0");
}
.layout__59abc .wrapper__3ed10:has(.pointerEvents__585e6[height="15"]):after,
.layout_bb8e67 .wrapper__3ed10:has(.pointerEvents__585e6[height="15"]):after {
    clip-path: path("M38 0h-38v38H38ZM26.9572 17.0202h5.8596s4.9894 0 4.9894 4.9894v10.8072s0 4.9894-4.9856 4.9894h-5.8596s-4.9856 0-4.9856-4.9856v-10.8072s0-4.9856 4.9894-4.9856");
}
.layout_bb8e67 .wrapper__3ed10:has(.dots_a97068):after {
    clip-path: path("M0 0V38H38V0ZM17.9208 21.9678H38V37.8024H17.9208S14.5464 37.8024 14.5464 34.428V25.3422S14.5464 21.9678 17.9208 21.9678Z") !important;
}
:is(.userPopoutOuter__3884e, .userInfo_fb7651) .wrapper__3ed10:after {
    clip-path: path("M0 0h96v96H0ZM61.9968 76.0032a13.9968 13.9968 90 1028.0032 0 13.9968 13.9968 90 10-28.0032 0");
}
:is(.userPopoutOuter__3884e, .userInfo_fb7651) .wrapper__3ed10:has(.pointerEvents__585e6[height="24"]):after {
    clip-path: path("M96 0h-96v96H96ZM70.6368 54h10.7232s8.64 0 8.64 8.64v18.72s0 8.64-8.64 8.64h-10.7232s-8.64 0-8.64-8.64v-18.72s0-8.64 8.64-8.64");
}

.userPopoutOuter__3884e:not(:has(.avatarDecoration_cf681a)) .avatarHint__15059 {
    overflow: unset;
    contain: unset;
}
.userPopoutOuter__3884e:not(:has(.avatarDecoration_cf681a)) .avatarHint__15059 foreignObject {
    mask: none;
}
.userPopoutOuter__3884e:not(:has(.avatarDecoration_cf681a)) .avatarHintInner_c8ddb1 {
    clip-path: path("M0 0h96v96H0ZM61.9968 76.0032a13.9968 13.9968 90 1028.0032 0 13.9968 13.9968 90 10-28.0032 0");
    inset: calc((.5 - var(--decoration-to-avatar-ratio)/2)*100%);
    padding: 0;
    width: unset;
    height: unset;
    position: absolute;
    border-radius: 38.4px;
}
.userPopoutOuter__3884e:not(:has(.avatarDecoration_cf681a)):has(.pointerEvents__585e6[height="24"]) .avatarHintInner_c8ddb1 {
    clip-path: path("M96 0h-96v96H96ZM70.6368 54h10.7232s8.64 0 8.64 8.64v18.72s0 8.64-8.64 8.64h-10.7232s-8.64 0-8.64-8.64v-18.72s0-8.64 8.64-8.64");
}


  html {
    /*Random Icons 2023*/
    --deco-stop-sign: url(https://cdn.discordapp.com/attachments/1116824513263452274/1197308507641356409/image_43.png);
    --deco-green-flames: url(https://ugc.decor.fieryflames.dev/a_d9e85c4af02061b69d4a671513ce5586.png?animate=true);
    --deco-blue-flames: url(https://ugc.decor.fieryflames.dev/a_efc703ad887fcb2f3e543ab4b1963028.png?animate=true);
    --deco-red-flames: url(https://ugc.decor.fieryflames.dev/a_abd5203243ad0ab748b18125cb9aa16a.png?animate=true);
    --deco-omen: url(https://cdn.discordapp.com/avatar-decoration-presets/a_c45abe8c7585fdb41b8d8d4d666f1588.png);
    --deco-clown: url(https://cdn.discordapp.com/avatar-decoration-presets/a_5e1210779d99ece1c0b4f438a5bc6e72.png);
    --deco-test: url(https://cdn.discordapp.com/attachments/1100863736039878698/1100864136998563991/String_Lights.png);
  }
